<div class="form-container">
  <h2 class="form-title">Create a Bank</h2>
  <div class="w-2/4 text-black">
    <%= simple_form_for bank do |f| %>
      <%= f.input :name, :input_html => { :class => "form-input" }, :label => "Bank's name"  %>
      <%= f.input :nit, :input_html => { :class => "form-input" }, :label => 'NIT (Número de identificación tributaria)' %>
      <%= f.input :phone, :input_html => { :class => "form-input" }, :label => 'Phone' %>
      <div class="mt-5">
          <%= f.submit class: "button-1" %>
          <%= link_to "Back", banks_path, class: "button-3" %>
      </div>
    <% end %>
  </div>
</div>
