<div class="w-full flex justify-center items-center" style="height: 75vh;">
  <div style="width: 75%; background; border-radius: 10px; background-color: rgba(0,0,0,0.1)">
    <%= simple_form_for bank do |f| %>
      <%= f.input :name %>
      <%= f.input :nit %>
      <%= f.input :phone %>
      <div class="row">
        <div class="col-1 me-5">
          <%= f.submit class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
