<div>
  <table style="width: 100%; margin: 0 auto;">
    <thead>
      <tr>
        <th scope="col">Account's Number</th>
        <th scope="col">Client</th>
        <th scope="col">Client's ID</th>
        <th scope="col">Client's phone</th>
        <th scope="col">Account's creation</th>
      </tr>
    </thead>
    <tbody>
      <% @bank.clients.each do |client| %>
        <tr>
          <td><%= client.account.number %></td>
          <td><%= client.name %></td>
          <td><%= client.document_number %></td>
          <td><%= client.phone %></td>
          <td><%= client.created_at.strftime("%d/%m/%Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
