<div style="width: 75%;" class="mx-auto">
  <div class="flex justify-center mt-4 px-4"><% if notice.present? %><p class="form-title"><%= notice %></p><% end %></div>
  <div class="flex justify-between">
    <h2 class="my-5 text-2xl text-white">Look among our <span style="background-color: #ECEBFA;" class="text-indigo-700 font-bold p-1 rounded"><%= Bank.all.count %> banks</span></h2>
    <div class="flex items-center"><%= link_to "Create Bank", new_bank_path , class: "button-1"%></div>
  </div>
  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 15px;" class="mt-2 mb-20">
    <% @banks.each do |bank| %>
      <%= link_to bank_path(bank) do %>
        <div class="rounded shadow hover:text-white flex items-center justify-center" style="<%= cycle("background-color: #ECEBFA;", "background-color: #FFFFFF") %>; height: 150px;">
          <div class="text-center">
            <h2 class="font-bold"><%= bank.name%></h2>
            <p class="text-xs">Accounts: <%= bank.accounts.count %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
