<div>
  <%= link_to %>
  <%= link_to "Create bank", new_bank_path %>
  <% @banks.each do |bank| %>
    <%= bank.name %>
    <%= link_to "See #{bank.name}", bank_path(bank) %>
    <%= link_to "edit", edit_bank_path(bank) %>
    <%= link_to "Destroy", bank_path(bank), data: {turbo_method: :delete, turbo_confirm: "Delete #{bank.name}?"} %>
    <br>
  <% end %>
</div>
