<div class="form-container">
  <h2 class="form-title"> <%= client.new_record? ? "Create client's account" : "Update client's account" %> </h2>
  <div class="w-2/4 text-black">
    <%= simple_form_for client do |f| %>
      <%= f.input :name, :input_html => { :class => "form-input" }, :label => "Client's name"%>
      <%= f.input :document_type, as: :select, collection: Client.document_types.keys, :input_html => { :class => "form-input" }, :label => "Bank's name" %>
      <%= f.input :document_number, :input_html => { :class => "form-input" }, :label => "ID Number" %>
      <%= f.input :phone, :input_html => { :class => "form-input" }, :label => "Client's personal phone" %>
      <%= f.simple_fields_for :account do |p| %>
        <%= p.input :bank_id, as: :select, collection: Bank.all, :input_html => { :class => "form-input" }, :label => "Bank" %>
      <% end %>
      <div class="mt-5">
        <%= f.submit class: "button-1" %>
        <%= link_to "Back", clients_path, class: "button-3" %>
      </div>
    <% end %>
  </div>
</div>
