<div data-search-clients-target="list">
  <table style="width: 100%; margin: 0 auto;" class="sm:table-fixed">
    <thead>
      <tr class="text-white border border-slate-500 bg-indigo-700">
        <th scope="col">Client's ID</th>
        <th scope="col">Document Type</th>
        <th scope="col">Name</th>
        <th scope="col">Client's phone</th>
        <th scope="col">Bank</th>
        <th scope="col">Account's Number</th>
        <th scope="col">Account's creation</th>
        <th scope="col">See</th>
      </tr>
    </thead>
    <tbody>
      <% cache clients do %>
        <% clients.each do |client| %>
          <% cache client do %>
            <tr style="<%= cycle("background-color: #FFFFFF", "background-color: #ECEBFA;") %>;" class="text-center">
              <td><%= client.document_number %></td>
              <td><%= client.document_type %></td>
              <td><%= client.name %></td>
              <td><%= client.phone %></td>
              <td><%= client.bank.name %></td>
              <td><%= client.account.number %></td>
              <td><%= client.created_at.strftime("%d/%m/%Y") %></td>
              <td>
                <div class="flex justify-evenly">
                  <div><%= link_to  edit_client_path(client) do %><i class="fa-solid fa-pen-to-square hover:text-slate-500"></i><% end %></div>
                  <div><%= link_to client_path(client), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %><i class="fa-solid fa-circle-xmark text-red-700 hover:text-red-900"></i><% end %></div>
                </div>
              </td>
            </tr>
          <% end  %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
