<!DOCTYPE html>
<html>
  <head>
    <title>BankApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-size: cover; background-repeat: no-repeat; background-image: url('https://github.com/lcamilov7/bank-app/blob/master/app/assets/images/fondo.png?raw=true')">
    <div style="position: relative; min-height: 100vh;">
      <div style="<%= "padding-top: 4rem; " if user_signed_in? %>padding-bottom: 2.5rem;">
        <%= render "layouts/navbar" %>
        <main>
          <%= yield %>
        </main>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
